.offer-hire-other {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(backgrounds/IMG-20181212-WA0002.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.offer-hire-other a {
  position: fixed;
  top: 10px;
  left: 10px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: #E67E22;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 25px;
  transition: .2s;
}

.offer-hire-other h2 {
  color: white;
  padding-top: 50px;
  /* font-size: 20px; */
}

.offer-hire-other h2 span {
  text-transform: lowercase;
}

.offer-hire-other h2::after {
  width: 250px;
}

.offer-hire-other .content {
  /* padding: 10px; */
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.offer-hire-other .variants {
  padding: 10px;
  color: white;
  font-size: 12px;
}

.offer-hire-other .variants:nth-of-type(even) {
  background-color: #fff;
  color: #645555;
  padding: 10px 10px;
}

.offer-hire-other .variants h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  letter-spacing: 2px;
}

.offer-hire-other .variants li {
  list-style-type: disc;
  margin-left: 15px;
  font-weight: 300;
}

.offer-hire-other .variants p {
  margin: 10px 0;
}

.offer-hire-other .variants p span {
  color: #d63031;
  font-weight: 700;
  font-size: 16px;
}

/* media portrait================================================== */
@media (min-width: 360px) and (orientation: portrait) {

  .offer-hire-other .variants h3 {
    font-size: 20px;
    font-weight: 300;
  }

  .offer-hire-other .variants {
    font-size: 16px;
  }

  .offer-hire-other .variants ul {
    margin-bottom: 5px;
  }

  .offer-hire-other .variants li {
    margin-left: 25px;
  }

  .offer-hire-other .variants p span {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {

  .offer-hire-other h2::after {
    width: 500px;
  }

  .offer-hire-other .variants h3 {
    font-size: 28px;
    font-weight: 300;
  }

  .offer-hire-other .variants {
    font-size: 26px;
  }

  .offer-hire-other .variants ul {
    margin-bottom: 15px;
  }

  .offer-hire-other .variants li {
    margin-left: 30px;
  }

  .offer-hire-other .variants p span {
    font-size: 28px;
  }
}

/* media landscape============================================================= */
@media(orientation: landscape) {
  .offer-hire-other .content {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .offer-hire-other .content:nth-of-type(even) {
    background-color: #fff;
    color: #645555;
  }

  .offer-hire-other .content:nth-of-type(even) h3,
  .offer-hire-other .content:nth-of-type(even) p,
  .offer-hire-other .content:nth-of-type(even) li {
    color: #645555;
    /* padding-top: 10px; */
  }

  .offer-hire-other h2 {
    padding-top: 40px;
  }

  .offer-hire-other h2::after {
    width: 500px;
  }

  .offer-hire-other .variants {
    flex-basis: 45%;
    padding-top: 10px;
  }

  .offer-hire-other .variants:nth-of-type(even) {
    background-color: transparent;
    color: #fff;
    padding: 10px 10px;
  }
}

@media (min-width: 568px) and (orientation: landscape) {

  .offer-hire-other .content:nth-of-type(even) h3 {
    padding-top: 10px;
  }

  .offer-hire-other .variants h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: -10px;
  }

  .offer-hire-other .variants {
    font-size: 12px;
  }

  .offer-hire-other .variants ul {
    margin-bottom: 0px;
  }

  .offer-hire-other .variants p span {
    font-size: 16px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {

  .offer-hire-other .variants h3 {
    font-size: 18px;
    font-weight: 300;
  }

  .offer-hire-other .variants {
    font-size: 14px;
  }


  .offer-hire-other .variants ul {
    margin-bottom: 5px;
  }

  .offer-hire-other .variants p span {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  .offer-hire-other .content:nth-of-type(even) {
    background-color: transparent;
    color: #fff;
  }

  .offer-hire-other .content:nth-of-type(even) h3,
  .offer-hire-other .content:nth-of-type(even) p,
  .offer-hire-other .content:nth-of-type(even) li {
    color: #fff;
  }

  .offer-hire-other h2 {
    font-size: 40px;
  }

  .offer-hire-other h2::after {
    width: 690px;
  }

  .offer-hire-other .variants h3 {
    font-size: 28px;
    font-weight: 300;
  }

  .offer-hire-other .variants {
    font-size: 26px;
  }

  .offer-hire-other .variants ul {
    margin-bottom: 15px;
  }

  .offer-hire-other .variants li {
    margin-left: 30px;
  }

  .offer-hire-other .variants p span {
    font-size: 28px;
  }

  .offer-hire-other a:hover {
    background-color: #b05d14;
  }
}