.offer-hire-bus {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(backgrounds/rt01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.offer-hire-bus a {
  position: fixed;
  top: 10px;
  left: 10px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: #E67E22;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 25px;
  transition: .2s;
}

.offer-hire-bus h2 {
  color: white;
  padding-top: 50px;
  /* font-size: 20px; */
}

.offer-hire-bus h2::after {
  width: 240px;
}

.offer-hire-bus .content {
  padding: 10px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.offer-hire-bus .variants {
  color: white;
  font-size: 12px;
  margin: 10px 0;
}

.offer-hire-bus .variants h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
  letter-spacing: 2px;
}

.offer-hire-bus .variants li {
  list-style-type: disc;
  margin-left: 15px;
  font-weight: 300;
}

.offer-hire-bus .variants p {
  margin: 10px 0;
}

.offer-hire-bus .variants p span {
  color: #d63031;
  font-weight: 700;
  font-size: 16px;
}

/* media portrait================================================== */
@media (min-width: 360px) and (orientation: portrait) {

  .offer-hire-bus .variants h3 {
    font-size: 20px;
    font-weight: 300;
  }

  .offer-hire-bus .variants {
    font-size: 16px;
  }

  .offer-hire-bus .variants ul {
    margin-bottom: 5px;
  }

  .offer-hire-bus .variants li {
    margin-left: 25px;
  }

  .offer-hire-bus .variants p span {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {

  .offer-hire-bus .variants h3 {
    font-size: 28px;
    font-weight: 300;
  }

  .offer-hire-bus .variants {
    font-size: 26px;
  }

  .offer-hire-bus .variants ul {
    margin-bottom: 15px;
  }

  .offer-hire-bus .variants li {
    margin-left: 30px;
  }

  .offer-hire-bus .variants p span {
    font-size: 28px;
  }
}

/* media landscape============================================================= */
@media(orientation: landscape) {
  .offer-hire-bus .content {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .offer-hire-bus h2 {
    padding-top: 20px;
  }

  .offer-hire-bus .variants {
    flex-basis: 45%;
    margin: 0;
  }
}

@media (min-width: 568px) and (orientation: landscape) {

  .offer-hire-bus .variants h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: -10px;
  }

  .offer-hire-bus .variants {
    font-size: 12px;
    margin: 0 10px;
  }

  .offer-hire-bus .variants ul {
    margin-bottom: 0px;
  }

  .offer-hire-bus .variants p span {
    font-size: 16px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {

  .offer-hire-bus .variants h3 {
    font-size: 18px;
    font-weight: 300;
  }

  .offer-hire-bus .variants {
    font-size: 14px;
  }


  .offer-hire-bus .variants ul {
    margin-bottom: 5px;
  }

  .offer-hire-bus .variants p span {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  .offer-hire-bus h2 {
    font-size: 40px;
  }

  .offer-hire-bus h2::after {
    width: 350px;
  }

  .offer-hire-bus .variants h3 {
    font-size: 28px;
    font-weight: 300;
  }

  .offer-hire-bus .variants {
    font-size: 26px;
  }

  .offer-hire-bus .variants ul {
    margin-bottom: 15px;
  }

  .offer-hire-bus .variants li {
    margin-left: 30px;
  }

  .offer-hire-bus .variants p span {
    font-size: 28px;
  }

  .offer-hire-bus a:hover {
    background-color: #b05d14;
  }
}

/*=============== gallery */

.gallery-bus {
  position: relative;
  min-height: 100vh;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-bus h2::after {
  width: 230px;
}

.gallery-bus .images {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 60%;
  width: 100%;
  overflow: hidden;

  background-color: black;

  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.gallery-bus a {
  position: relative;
  overflow: hidden;
  opacity: 0.65;
  transition: .5s;

  flex-basis: 25%;
  height: 33.3333%;
  background-color: black;
}



.gallery-bus img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

@media(min-width: 1024px) and (orientation: landscape) {
  header .nav ul a {
    font-size: 14px;
  }

  .gallery-bus a:hover {
    opacity: 1;
  }

  .gallery-bus h2 {
    font-size: 40px;
  }

  .gallery-bus h2::after {
    width: 340px;
  }
}