/* https://www.freefavicon.com */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 300;
  color: #5F5555;
}

h2::after {
  content: '';
  display: block;
  width: 85px;
  height: 2px;
  background-color: #E67E22;
  margin: 10px auto 0;
}